# APP
NODE_ENV=production
PORT=8000
JWT_SECRET=change-me
JWT_EXPIRES_IN=1h
APP_BASE_URL=https://your-domain.com
EMAIL_VERIFICATION_TTL_MINUTES=60
GOOGLE_CLIENT_ID=

# DB
POSTGRES_PASSWORD=adminbookin2026
DATABASE_URL="postgresql://postgres.xmvcvibwardvhrpauapw:adminbookin2026@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
